﻿<div class="popover" role="tooltip">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>
    <div class="popover-content"></div>
</div>
<div class="map-row row">
    <div class="col-lg-12">
        <div id="map-canvas"></div>
    </div>
</div>
<div class="row controls">
    <div class="col-lg-12">
        <input type="text" class="form-control typeahead" autocomplete="off"/>
        <button id="clear" title="removes all suburbs from the map" class="btn btn-danger pull-right">Clear</button>
    </div>
</div>
<ul id="features" class="row list-unstyled"></ul>



