﻿ html { height: 100% }

body {
    padding-bottom: 20px;
    padding-top: 50px;
    height: 100%; 
    margin: 0;
    overflow: hidden;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    height: 100%;
}

.map-row {
    height: 50%;
}

.map-row > .col-lg-12 {
    height: 100%;
}

.controls {
    margin: 10px 0;
}

.dl-horizontal dt { white-space: normal; }

input,
select,
textarea { max-width: 280px; }

#map-canvas { height: 100% }

.popover-title {
    font-weight: bold;
}